* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #020617;
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4f46e5, #3b82f6);
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 42px;
}

.hero .desc {
  margin: 10px 0;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  cursor: pointer;
}

/* SECTION */
.section {
  padding: 50px 20px;
  text-align: center;
}

/* FOTO KELAS */
.class-img {
  width: 90%;
  border-radius: 15px;
  margin: 20px 0;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/* WALI */
.wali-card {
  margin-bottom: 30px;
}

.wali-card img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}

.wali-card p {
  color: #94a3b8;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

/* CARD */
.card {
  background: #0f172a;
  padding: 8px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
}

/* FOTO KOTAK */
.card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}

.card p {
  font-size: 13px;
  margin-top: 6px;
}

.card span {
  font-size: 11px;
  color: #94a3b8;
}
